
</html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{include/header :: header}"></head>

<body>
    <div class="container mt-5">
        <div th:insert="~{include/nav :: nav}"></div>
            <table class="table caption-top table-bordered">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user :${users}">
      <th scope="row">1</th>
      <td th:text="${user.username}">KO Lo</td>
      <td th:text="${user.email}"></td>
      <td>
        <a th:href="@{/admin/user/edit/{id}(id=${user.id})}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
        <!-- <a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a> -->

      </td>
    </tr>
  
  </tbody>
</table>
    </div>
</body>
</html>
